.text1{
    font-size: 100px;
}

.text15{
    font-size: 80px;
}

.text2{
    font-size: 70px;
}

.text3{
    font-size: 40px;
}

.text35{
    font-size: 25px;
    font-weight: bold;
}

.text4{
    font-size: 15px;
}